# config.py.tmpl --- 
# 
# Filename: config.py.tmpl
# Author: Louise <louise>
# Created: Sat Apr 18 20:49:13 2020 (+0200)
# Last-Updated: Sat Apr 18 20:49:39 2020 (+0200)
#           By: Louise <louise>
# 

# Put here your Google Maps API key
GMAPS_API_KEY = 
