/*style.css --- 
;; 
;; Filename: style.css
;; Author: Louise <louise>
;; Created: Sat Apr 18 19:05:08 2020 (+0200)
;; Last-Updated: Thu Apr 23 01:31:17 2020 (+0200)
;;           By: Louise <louise>
*/

/* General */
* { box-sizing: border-box; }
html, body, #container {
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    background-color: #eed6ca;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: #d89b98;
}

/* Header */
header {
    height: 10vh;
    width: 100%;
    padding: 0 2em;
    display: flex;
    align-items: center;
}

header > #logo {
    height: 100%;
}

header > #title {
    font-size: 1.6em;
    font-family: 'Dancing Script', cursive;
}

/* Main body */
#main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    flex-grow: 1;
    padding: 2%;
    
    display: flex;
    flex-direction: column;
}

#main > #dialogue {
    flex-grow: 1;
    height: 1px; /* Necessary for overflow to have an effect */
    width: 100%;
    
    overflow: auto;
    
    background-color: #fff;
    border: 1px solid #ddd;
}

#dialogue > .message {
    display: flex;
}

#dialogue > .message > img {
    margin-left: 1em;
    width: 60%; 
} 

#main > #input {
    display: flex;
}

#main > #input > #textinput {
    flex-grow: 1;
}

/* Footer */
footer {
    width: 100%;
    height: 1.3em;

    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
