<!doctype html>
<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GrandMa Bot</title>
    
    <link rel="stylesheet" href="{{ url_for('webapp.static', filename = 'style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@200&display=swap" rel="stylesheet">

    <script type="text/javascript">$API_ROOT = {{ url_for('api.query', _external=True)|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('webapp.static', filename = 'jquery-3.5.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('webapp.static', filename = 'app.js') }}"></script>
  </head>
  <body>
    <div id="container">
      <header>
	<img id="logo" src="{{ url_for('webapp.static', filename = 'logo.png' )}}">
	<div id="title">GrandMa Bot</div>
      </header>
      
      <div id="main">
	<div id="dialogue">
	  {{ request.script_root }}
	</div>
	<div id="input">
	  <input id="textinput"/>
	  <button id="submit">Envoyer</button>
	</div>
      </div>

      <footer>
	© Louise Z-R. 
      </footer>
    </div>
  </body>
</html>
