<!doctype html>
<html>
  <head>
    <meta charset="utf8" />
    <title>GrandPy Bot</title>
    <link rel="stylesheet" href="{{ url_for('webapp.static', filename = 'style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@200;400&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div id="container">
      <header>
	<img id="logo" src="{{ url_for('webapp.static', filename = 'logo.png' )}}">
	<div id="title">GrandMa Bot</div>
      </header>
      
      <div id="main">
	<textarea disabled id="dialogue">
	</textarea>
	<div id="input">
	  <input />
	  <button>Envoyer</button>
	</div>
      </div>

      <footer>
	© Louise Z-R. 
      </footer>
    </div>
  </body>
</html>
